	*{
		margin: 0;
		font-family: '微软雅黑','黑体',sans-serif;
	}
	header{
		width: 100%;
		height: 50px;
		color: white;
		font-weight: bold;
		text-align: center;
		line-height: 50px;
		background-color: #5AC0CE;
		position: fixed;
	}
	header img{
		width: 18px;
		height: 18px;
		margin: 15px 5px;
		float: left;
	}
	.image
	{
		width: 100%;
		height: 300px;
		background-image: url(./bg.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position-y: 50px; 
		z-index: -2;
	}
	.pic{
		width: 400px;
		height: 100%;
		padding: 10% 15% 0 10%;
	}
	.pic img{
		float: left;
	}
	.name{
		color: white;
		font-weight: bold;
		text-align: left;
	}
	.age{
		font-size: 20px;
		line-height: 50px;
		text-indent: 50px;
	}
	.posi{
		line-height: 20px;
		text-indent: 40px;
	}
	.posi:before{
		display: inline-block;
		content: "";
		width: 20px;
		height: 22px;
		background-image: url(./坐标.png);
		background-repeat: no-repeat;
	}
	.a1:before{
		display: inline-block;
		content: "";
		width: 20px;
		height: 20px;
		background-image: url(./表头_03.png);
		background-repeat: no-repeat;
	}
	.a1{
		border-bottom: 1px solid gray;
		font-size: 20px;
		line-height: 50px;
	}
	.point{
		width: 95%;
		height: 50px;
		border-bottom: 1px solid gray;
		margin: 0 2.5%;

	}
	.im:before{
		display: inline-block;
		content: "";
		width: 30px;
		height: 22px;
		background-image: url(./星型.png);
		background-repeat: no-repeat;
		margin: 5px 0 0 5px;
	}
	.im{
		float: left;
		line-height: 50px;
	}

	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
		line-height: 50px;
		clear: both;
	}
	li{
		padding: 0;
		margin: 0 2.5%;
		width: 95%;
		border-bottom: 1px solid gray;
	}
	.exp{
		color: red;
	}
	li span{
		vertical-align: center;
		color:gray; 
	}
	.self{
		/*display: table-cell;*/
		vertical-align: center;
	
	}
	.intro{
		text-align: left;
		position: relative;
		left: 100px;
		bottom: 50px;
	}
	footer{
		width: 100%;
		height: 50px;
		position: fixed;
		bottom: 0;
		background: white;
	}
	footer .rside{
		width: 48%;
		height: 50px;
		color: white;
		font-weight: bold;
		text-align: center;
		line-height: 50px;
		background-color:#5AC0CE; 
		border-radius: 5px;
		box-sizing: border-box;
		margin: 1%;
		float: right;
		position: fixed;
		position: relative;
	}
	footer .lside{
		width: 48%;
		height: 50px;
		color: #5AC0CE;
		font-weight: bold;
		text-align: center;
		line-height: 50px;
		background-color:white;
		border: 2px solid #5AC0CE;
		border-radius: 5px;
		box-sizing: border-box;
		margin: 1%;
		float: left;
		position: fixed;
		position: relative;
	}